<div class="weather-container" ng-if="vm.loading">
  <h2>Loading...</h2>
</div>

<div class="weather-container" ng-if="!vm.loading && !vm.hasError">
  <h1 class="weather-title">
    {{ vm.weather.location.city }}

    <small>
      {{ vm.weather.item.condition.temp | number:0 }}°{{ vm.weather.units.temperature }}
    </small>
  </h1>



  <div class="weather-info">
    <span class="outlined">
      <i class="wi {{ vm.icon }}"></i>
      {{ vm.weather.item.condition.text }}
    </span>

    <span class="outlined">
      <i class="wi wi-sunrise"></i>
      Sunrise {{ vm.formatTime(vm.weather.astronomy.sunrise) }}
    </span>

    <span class="outlined">
      <i class="wi wi-sunset"></i>
      Sunset {{ vm.formatTime(vm.weather.astronomy.sunset) }}
    </span>
  </div>

  <ul class="weather-forecast">
    <li ng-repeat="forecast in vm.weather.item.forecast | limitTo:5">
      <i class="wi {{ vm.getIcon(forecast) }}"></i>
      <span class="weather-forecast-day">{{ forecast.day }}</span>
      <span class="weather-forecast-temp">{{ forecast.high }} / {{ forecast.low }}</span>
    </li>
  </ul>
</div>

<div class="weather-container" ng-if="!vm.loading && vm.hasError">
  <h1 class="weather-title">An error has occurred.</h1>
  <h2 class="weather-subtitle"><i class="fa fa-frown-o"></i></h2>
</div>

<div class="weather-back">
  <a ui-sref="main" class="btn btn-primary">
    <i class="fa fa-bolt"></i>
    New Search
  </a>
</div>
