// Bootstrap
$font-family-sans-serif: 'Raleway', sans-serif;
$icon-font-path: "../fonts/bootstrap/";
$brand-primary: #6a3093;
$text-color: #FFFFFF;
$font-size-base: 22px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// FontAwesome
$fa-font-path: "../fonts/font-awesome";

// Weather Icons
$wi-path: "../fonts/weather-icons";
