* {
  margin: 0;
}

body {
  color: #333333;
  font-family: 'Helvetica Neue', Arial, sans;
  font-size: 18px;
  font-weight: 200;
  background-color: #F5F5F5;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
}
